In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./OnlineGamingBehavior/online_gaming_behavior_dataset.csv")

In [3]:
print(df.shape)
print(df.info())
print(df.head())

(40034, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   Gender                     40034 non-null  object
 3   Location                   40034 non-null  object
 4   GameGenre                  40034 non-null  object
 5   PlayTimeHours              40034 non-null  float64
 6   InGamePurchases            40034 non-null  int64
 7   GameDifficulty             40034 non-null  object
 8   SessionsPerWeek            40034 non-null  int64
 9   AvgSessionDurationMinutes  40034 non-null  int64
 10  PlayerLevel                40034 non-null  int64
 11  AchievementsUnlocked       40034 non-null  int64
 12  EngagementLevel            40034 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 4.0+ MB
None
   PlayerID  Age  Gender Location GameGenre  PlayTimeHours  InGamePurchases  \
0      9000   43    Male    Other  Strategy      16.271119                0
1      9001   29  Female      USA  Strategy       5.525961                0
2      9002   22  Female      USA    Sports       8.223755                0
3      9003   35    Male      USA    Action       5.265351                1
4      9004   33    Male   Europe    Action      15.531945                0

  GameDifficulty  SessionsPerWeek  AvgSessionDurationMinutes  PlayerLevel  \
0         Medium                6                        108           79
1         Medium                5                        144           11
2           Easy               16                        142           35
3           Easy                9                         85           57
4         Medium                2                        131           95

   AchievementsUnlocked EngagementLevel
0                    25          Medium
1                    10          Medium
2                    41            High
3                    47          Medium
4                    37          Medium

In [4]:
df = df.drop_duplicates()

In [5]:
print(df['Location'].value_counts())
print(df['GameGenre'].value_counts())
print(df.describe())

Location
USA       16000
Europe    12004
Asia       8095
Other      3935
Name: count, dtype: int64
GameGenre
Sports        8048
Action        8039
Strategy      8012
Simulation    7983
RPG           7952
Name: count, dtype: int64
           PlayerID           Age  PlayTimeHours  InGamePurchases  \
count  40034.000000  40034.000000   40034.000000     40034.000000
mean   29016.500000     31.992531      12.024365         0.200854
std    11556.964675     10.043227       6.914638         0.400644
min     9000.000000     15.000000       0.000115         0.000000
25%    19008.250000     23.000000       6.067501         0.000000
50%    29016.500000     32.000000      12.008002         0.000000
75%    39024.750000     41.000000      17.963831         0.000000
max    49033.000000     49.000000      23.999592         1.000000

       SessionsPerWeek  AvgSessionDurationMinutes   PlayerLevel  \
count     40034.000000               40034.000000  40034.000000
mean          9.471774                  94.792252     49.655568
std           5.763667                  49.011375     28.588379
min           0.000000                  10.000000      1.000000
25%           4.000000                  52.000000     25.000000
50%           9.000000                  95.000000     49.000000
75%          14.000000                 137.000000     74.000000
max          19.000000                 179.000000     99.000000

       AchievementsUnlocked
count          40034.000000
mean              24.526477
std               14.430726
min                0.000000
25%               12.000000
50%               25.000000
75%               37.000000
max               49.000000

In [6]:
df_europe = df[df['Location'] == 'Europe']

In [ ]:
df.to_csv("gaming_data_cleaned.csv", index=False)
df_europe.to_csv("gaming_data_europe.csv", index=False)

print("complete")